#topAppBar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding:3px 10px;
    z-index: 1000;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.06);
    top: 0;
    margin-inline: auto;
}


menu{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}